@use "abstracts" as *;

%btn {
	display: flex;
	justify-content: center;
	align-items: baseline;
	column-gap: 10px;
	position: relative;
	text-decoration: none;
	color: $hue-dark-1;
	line-height: 1;
	font-weight: $font-weight-bold;
	padding: 15px 20px;
	border-radius: 5px;
	border: 1px solid;
	cursor: pointer;
	transition:
		color 0.4s ease-in-out,
		background-color 0.4s ease-in-out,
		border-color 0.4s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus-visible {
		outline: 2px solid $focus-color;
		outline-offset: 2px;
	}
}

%btn--primary {
	background-color: $btn-primary;
	border-color: $btn-primary;
	color: $hue-white;

	@extend %btn;

	&:hover,
	&:focus {
		background-color: $hue-dark-1;
		border-color: $hue-dark-1;
		color: $hue-white;
	}
}

%btn--secondary {
	background-color: $hue-white;
	border-color: $hue-dark-1;
	color: $hue-dark-1;

	@extend %btn;

	&:hover,
	&:focus {
		background-color: $hue-dark-1;
		border-color: $hue-dark-1;
		color: $hue-white;
	}
}

%btn-icon {
	@media (prefers-reduced-motion: no-preference) {
		&:hover::after,
		&:focus-visible::after {
			transform: translateX(4px);
		}
	}

	&:not(:has(i))::after {
		content: $fa-arrow-right;
		font-family: $fa;
		font-weight: 400;
		transition: transform 0.3s ease-in-out;
	}
}

%btn--on-dark {
	background-color: $hue-white;
	border-color: $hue-white;
	color: $hue-dark-1;

	&:hover,
	&:focus {
		background-color: transparent;
		border-color: $hue-white;
		color: $hue-white;
	}
}

%btn--secondary-on-dark {
	background-color: transparent;
	border-color: $hue-white;
	color: $hue-white;

	&:hover,
	&:focus {
		background-color: $hue-white;
		border-color: $hue-white;
		color: $hue-dark-1;
	}
}

%header-footer-wrapper {
	@include bp("narrow") {
		width: 700px;
	}

	@include bp("normal") {
		width: 960px;
	}

	@include bp("large") {
		width: 1180px;
	}

	@include bp("xl") {
		width: 1280px;
	}
}
