/* stylelint-disable selector-id-pattern */

.login {
	background: #00244d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#login {
	position: relative;
	backdrop-filter: blur(3px);
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	box-sizing: border-box;
	max-width: 460px;
	width: calc(100% - 40px);
	padding: 50px;
}

@media (width <= 739px) {
	#login {
		padding: 24px;
	}
}

.interim-login #login {
	padding: 20px 10px;
}

.login h1 a {
	background-image: url("../../assets/login-logo.svg") !important;
	background-size: contain;
	display: block;
	margin: 0;
	height: 100px;
	width: 150px;
}

#login-message {
	margin-top: 24px;
}

.login #backtoblog,
.login #nav {
	padding: 0;
}

.login #backtoblog a,
.login #nav a {
	color: #fff;
}

.login .privacy-policy-page-link:last-child {
	margin-bottom: 0;
}

.login .privacy-policy-page-link a,
.login .language-switcher label,
.login .language-switcher .dashicons {
	color: #fff;
}

.login .language-switcher .button,
.login .language-switcher .button:hover,
.login .language-switcher .button:focus {
	border-color: #fff;
	background: transparent;
	color: #fff;
}

.wp-core-ui .button-primary {
	border-color: #00a3e0;
	background: #00a3e0;
	color: #00244d;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
	border-color: #fff;
	background: #00244d;
	color: #fff;
}
