@use "abstracts" as *;
@use "placeholders" as *;

.btn {
	&--primary {
		@extend %btn--primary;
		@extend %btn-icon;
	}

	&--secondary {
		@extend %btn--secondary;
		@extend %btn-icon;
	}

	&__filter {
		background-color: transparent;
		border-color: $hue-dark-1;
		color: $hue-dark-1;

		@extend %btn;

		&:hover,
		&:focus {
			background-color: $hue-dark-1;
			color: $hue-white;
		}

		&--active {
			background-color: $btn-primary;
			border-color: $btn-primary;
			color: $hue-white;

			&:hover,
			&:focus {
				background-color: $hue-dark-1;
				border-color: $hue-dark-1;
				color: $hue-white;
			}
		}
	}

	&--read-more {
		background-color: transparent;
		padding: 4px 1.4em 4px 0;
		font-size: pxtorem(16);
		color: $text-color;
		border: none;
		align-items: center;
		min-height: 44px;

		@extend %btn;

		@include bp("narrow") {
			min-height: 28px;
		}

		&::after {
			content: $fa-arrow-up-right;
			position: absolute;
			top: 50%;
			right: 0;
			font-family: $fa;
			font-weight: 700;
			line-height: 1;
			transform: translateY(-50%);
		}

		&:hover,
		&:focus {
			color: $hue-accent-text;
			text-decoration: underline;
		}
	}
}

.btn-display {
	&--phone {
		@include bp("narrow") {
			display: none;
		}
	}

	&--desktop {
		@include bp("mobile") {
			display: none;
		}
	}
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px 15px;

	&--centered {
		justify-content: center;
	}

	.phone {
		a {
			font-weight: 600;
		}
	}
}
