@use "abstracts" as *;
@use "placeholders" as *;

.background {
	position: relative;

	> * {
		position: relative;
	}

	&.has-navy-background-color {
		color: $hue-white;

		a:not(.btn) {
			color: $hue-white;

			&:hover,
			&:focus {
				color: $hue-accent-light;
			}
		}

		a:focus-visible,
		.btn:focus-visible {
			outline-color: $hue-white;
		}

		.btn {
			&--primary {
				@extend %btn--on-dark;
			}
		}
	}
}
