@use "abstracts" as *;

.projects {
	&__overview {
		scroll-margin-top: 40px;
	}

	&__filter {
		display: none;

		@include bp("narrow") {
			display: block;
			margin-bottom: pxtoem(40);
		}
	}

	&__filter-mobile {
		display: flex;
		gap: 10px;
		margin-bottom: pxtoem(25);

		@include bp("narrow") {
			display: none;
		}

		.btn {
			flex-shrink: 0;
		}
	}

	&__filter-select {
		position: relative;
		flex-grow: 1;

		&::after {
			content: $fa-angle-down;
			position: absolute;
			top: 50%;
			right: 20px;
			font-family: $fa;
			font-weight: 400;
			color: $hue-dark-1;
			transform: translateY(-50%);
			pointer-events: none;
		}

		select {
			height: 100%;
			padding-right: 50px;
			border-radius: 5px;
		}
	}

	&__filter-list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__filter-item {
		margin: 0;
		padding: 0;
	}

	&__grid {
		display: grid;
		gap: 20px;
		margin: 0;
		padding: 0;
		list-style: none;

		@include bp("narrow") {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include bp("normal") {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: 40px;
		}
	}

	&__item {
		display: flex;
		margin: 0;
		padding: 0;
	}

	&__empty {
		margin-bottom: 0;
		color: $hue-grey-1;
	}

	.buttons {
		margin-top: pxtoem(30);

		@include bp("narrow") {
			margin-top: pxtoem(50);
		}
	}
}
