@use "abstracts" as *;

.breadcrumb {
	position: relative;

	@include bp("mobile") {
		display: none;
	}

	.breadcrumbs {
		color: $hue-dark-1;
		position: absolute;
		z-index: 5;
		top: 10px;
		left: 0;
		font-size: pxtorem(14);
		line-height: 1;
		margin: 0;

		a {
			display: inline-block;
			padding-block: 5px;
			text-decoration: none;
		}
	}

	+ .hero {
		order: -1;
	}

	/* stylelint-disable-next-line selector-class-pattern */
	&:has(+ .centered-content--intro) .breadcrumbs {
		color: $hue-white;

		a {
			color: $hue-white;

			&:focus-visible {
				outline-color: $hue-white;
			}
		}
	}
}

.home {
	.breadcrumb {
		display: none;
	}
}
